@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@700&family=Public+Sans:wght@400;600;800&display=swap');

// --

* {
  box-sizing: border-box;
}

body {
  font-family: 'Public Sans', sans-serif;
  margin: 0;
}

h1 {
  font-family: 'Hind', sans-serif;
  font-weight: 700;
  font-size: 2.875rem;
}

// --

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.py-4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

// ---

.app-container {
  width: 1200px;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.app-header {
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.08);
  padding-right: 1rem;
  padding-left: 1rem;

  &__content {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    background: #fefefe;
  }

  &__logo {
    font-size: 0.875rem;
    line-height: 1rem;
    color: #9f9f9f;
  }

  &__link {
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.app-footer {
  display: flex;
  border-top: 0.0625rem solid rgba(47, 47, 47, 0.16);
  color: #585757;
  padding: 2rem 0;

  &__column {
    width: 25%;
    padding: 1rem;
  }

  &__nav {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__link {
    display: inline-block;
    color: #585757;
    text-decoration: none;
    padding: 0.25rem 0;

    &:hover {
      text-decoration: underline;
    }
  }

  &__heading {
    color: #2f2f2f;
    font-weight: 800;
    margin-top: 0;
  }
}

.step {
  display: flex;

  &__content {
    width: 50%;
  }
  &__bg-image {
    width: 50%;
    background: center right / contain no-repeat url(../images/background.png);
    position: relative;
    z-index: -1;
  }
}

.button {
  font-size: 0.875rem;
  font-weight: 800;
  cursor: pointer;
  padding: 1.25rem 1.5rem;
  border-radius: 6.25rem;
  border: none;
}

.step-indicator {
  display: flex;
  &__item {
    width: 1.25rem;
    height: 0.375rem;
    margin-right: 0.3125rem;
    background-color: #9f9f9f;
    border-radius: 0.625rem;

    &--active {
      width: 2.75rem;
      background: linear-gradient(
          94.75deg,
          rgba(0, 0, 0, 0.24) 0%,
          rgba(0, 0, 0, 0) 100.7%
        ),
        #cd8b65;
    }
  }
}

.donate-selector {
  display: flex;

  &__button {
    color: #585757;
    font-weight: 600;
    line-height: 1.3rem;
    text-align: left;
    cursor: pointer;
    width: 50%;
    padding: 1.5625rem;
    background: #faf9f9;
    border: 0.0625rem solid #cd8b65;
    box-sizing: border-box;

    &--first {
      border-radius: 1.5rem 0 0 1.5rem;
    }

    &--second {
      border-radius: 0 1.5rem 1.5rem 0;
    }

    &--active {
      color: #fff;
      background: linear-gradient(180deg, #cd8b65 0%, #bb6b3d 100%);
      box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07),
        0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198),
        0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275),
        0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
        0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725),
        0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
    }
  }

  &__icon {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: hsla(0, 0%, 18%, 0.16);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__text {
    width: 30ch;
  }
}

.input-description {
  display: flex;
  justify-content: space-between;
  font-weight: 800;
  color: #2f2f2f;
  padding-bottom: 0.5rem;
}

.dropdown-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: #ffffff;
  border: 0.0625rem solid #dfdfdf;
  box-sizing: border-box;
  border-radius: 0.5rem;
  text-align: left;
  padding: 1rem 1.5rem;
  cursor: pointer;

  &__label {
    font-weight: 800;
    line-height: 1.3125rem;
    color: #2f2f2f;
  }

  &__placeholder {
    color: #9f9f9f;
  }
}

.price-selector {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  &__button {
    display: flex;
    padding: 1rem;
    font-weight: 800;
    background: #fff;
    border: 0.0625rem solid #dfdfdf;
    margin-right: 0.4375rem;
    border-radius: 0.5rem;
    cursor: pointer;

    &--active {
      color: #fff;
      background: linear-gradient(115.41deg, #cd8a64 -1.77%, #c4794f 73.03%);
      border-width: 0;
      padding: 1.0625rem;
    }
  }

  &__input {
    width: 7ch;
    border: 0;
    border-bottom: 0.0625rem solid #c9c9c9;
    font-weight: 800;

    &--active {
      color: #fff;
      background: linear-gradient(115.41deg, #cd8a64 -1.77%, #c4794f 73.03%);
      border-color: #fff;
    }
  }
}

$input-padding-x: 1.2rem;

.form-field {
  margin-bottom: 1rem;

  &__input-block {
    position: relative;
    padding: 1rem 0 2.5rem 0;
  }

  &__label {
    position: relative;
    z-index: 1;
    color: #2f2f2f;
    font-weight: 800;
    display: block;
    padding-left: $input-padding-x;
  }

  &__prefix {
    position: absolute;
    top: 0;
    z-index: 1;
    padding-top: calc(2.5rem + 0.0625rem);
    padding-left: $input-padding-x;
    color: #9f9f9f;
    cursor: pointer;
  }

  &__flag {
    height: 1rem;
    width: auto;
    margin-right: 0.5rem;
    vertical-align: middle;
  }

  &__input {
    display: block;
    position: absolute;
    background: none;
    top: 0;
    width: 100%;
    padding: 2.5rem $input-padding-x 1rem $input-padding-x;
    border: 0.0625rem solid #dfdfdf;
    border-radius: 0.5rem;
    font-size: 1rem;

    &--with-prefix {
      padding-left: 6rem;
    }

    &:focus {
      border: 0.0625rem solid #cd8b65;
      outline: none;
    }
  }
}

.input-error {
  color: #ff0000;
  font-weight: 800;
  padding-top: 0.5rem;
}

.error-message {
  color: #ff0000;
  font-weight: 800;
  padding-top: 1rem;
}

.step-footer {
  display: flex;

  &__next-button {
    color: #fff;
    margin-left: auto;
    background: linear-gradient(115.41deg, #cd8a64 -1.77%, #c4794f 73.03%);
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07),
      0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198),
      0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275),
      0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
      0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725),
      0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  }

  &__back-button {
    color: #2f2f2f;
    background: #f3e2d9;
  }
}

.dropdown {
  position: relative;

  &__list {
    display: none;
    position: absolute;

    list-style: none;
    margin: 0.5rem 0 0 0;
    padding: 0.5rem;
    max-height: 350px;
    overflow-y: auto;

    background: #fff;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 6px 0px,
      rgba(0, 0, 0, 0.07) 0px 0px 0px 1px;

    &--open {
      display: block;
    }

    &--flags {
      min-width: 150px;
    }

    &--long {
      width: 100%;
    }
  }

  &__item {
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    color: #2f2f2f;

    &:hover {
      background-color: #ececec;
    }
  }
}

.confirmation {
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__field {
    padding-bottom: 1.25rem;
  }

  &__label {
    color: #2f2f2f;
    font-weight: 800;
    font-size: 0.875rem;
    display: block;
    padding-bottom: 0.5rem;
  }
}

.checkbox {
  cursor: pointer;

  &__input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  &__label {
    color: #2f2f2f;
  }

  &__label:before {
    content: '';
    display: inline-block;
    width: 2.125rem;
    height: 2.125rem;
    border: 0.0625rem solid #f3e2d9;
    border-radius: 0.5rem;
    margin-right: 1rem;
    position: relative;
    top: 0.75rem;
  }

  input[type='checkbox']:checked + &__label:before {
    background: center no-repeat url('../images/check.png');
  }
  input[type='checkbox']:focus + &__label:before {
    outline-style: auto;
  }
}
